gem5/build
gem5/parser.out
gem5/parsetab.py
gem5/cscope.files
gem5/cscope.out
*.pyc
*~
.*.swp
.*.swo
gem5/m5out
gem5//src/doxygen
gem5//ext/dramsim2/DRAMSim2
gem5//ext/mcpat/regression/*/*.out
gem5//util/m5/*.o
gem5//util/m5/*.a
gem5//util/m5/m5
gem5//util/packet_pb2.py
gem5//util/tap/*.d
gem5//util/tap/*.o
gem5//util/tap/m5tap
gem5//util/term/m5term
gem5//system/arm/dt/*.dtb
gem5//system/arm/simple_bootloader/*.o
gem5//system/arm/simple_bootloader/boot.arm
gem5//system/arm/simple_bootloader/boot_emm.arm
gem5//system/arm/aarch64_bootloader/boot_emm.arm64
gem5/scripts/*.txt
workloads
dist
